<%-include("partials/header"); -%>

<body style="background-color: #FEFAE0">
    <!-- <div class="text-center "
        style="font-family: 'Permanent Marker', cursive; background-color: #D4A373; color: #FEFAE0; padding:1%; margin-bottom:1%">
        <h1>
            <%=personInfo.name%>
        </h1>
    </div> -->
    <div class="account-info-div">
        <h1 class="account-info">Name: <%=personInfo.name%>
        </h1>
        <h1 class="account-info">Age: <%=personInfo.age%>
        </h1>
        <h1 class="account-info">Phone Number: <%=personInfo.phone%>
    <h1 style="font-size: 32px; color: #8A926F;  font-size:40px; font-family: Verdana;">Role : <%=personInfo.role%>
    </h1>
    <div style="padding:1%;font-size:40px ">
        <h1>Progress</h1>
        <h1>
            <%=personInfo.progress%>
        </h1>
        <form action="/<%=personInfo.id%>" method="post">
            <input style="margin:0.5%" type="text" name="excercise" placeholder="New improvement" autocomplete="off" />
            <button type="submit" value="<%=personInfo.id%>">Add</button>
        </form>
    </div>
</div>
</body>

</html>