<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" type=="text/css">
    <script src="https://kit.fontawesome.com/b648f1d9fc.js" crossorigin="anonymous"></script>
    <title>Home</title>

</head>

<body style="background-color: #FEFAE0">

    <h1>Hello, <%=person%></h1>
<% if(person == "Coach"){ %>
  <!-- announcements -->
  <form action="/announcements" method="post">
    <label>Message: </label>
    <a href=""><input name="message" type="text"></a>
    
  </form>
<% } else{ %>
<!-- <h1>YOU HAVE A NOTIFICATION FORM YOU COACH</h1> -->
<% }%>

    <%allMembers.forEach(function(member){ %>
        <form action="/delete" method="post">
            <div class="item">
              <input type="checkbox" name="checkbox" value="<%=member._id%>"  onChange="this.form.submit()">
              <p><%=member.name%></p>
              <p><%=member.role%></p>
              <a href="<%=member._id%>"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <input type="hidden" name="listName" value=""></input>
          </form>
        <%}) %>

            <form class="" action="/" method="post">
                <input type="text" name="newPlayer" placeholder="New Member" autocomplete="off">
                <input type="text" name="newRole" placeholder="Role" autocomplete="off">
                <button type="submit" name="list" >+</button>
            </form>

</p>

</body>
</html>